body {
    color: #22afb7;
  }
  form {
    margin: 10px 0px 0px;
  }
  button {
    color: rgb(34, 175, 183, 1);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(34, 175, 183, 0.3);
    border: rgb(34, 175, 183, 0.8);
    border-radius: 5px;
    height: 90%;
    margin-top: 2px;
    padding: 5px 20px;
  }
  a {
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    color: blueviolet;
  }
  .principal {
    background-color: rgba(230, 244, 245, 0.1);
    margin-top: 10px;
    max-width: 80%;
    border-radius: 8px;
  }
  .city {
    margin: 0px 40px 0px;
    font-size: 40px;
  }
  .day {
    margin: 5px 40px 20px;
    font-size: 22px;
    opacity: 0.6;
  }
  .today {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
  }
  .clearfix {
    margin: 35px 30px auto 0px;
  }
  .emoji {
    font-size: 70px;
    margin: 0px 35px;
    text-align: center;
  }
  .units{
    position:relative;
    top: -30px;
  }
  .active {
    color:#22afb7;
  }
  .active:hover {
    cursor:default;
    color:#22afb7;
  }
  .forecast {
    font-size: 30px;
    text-align: center;
  }
  .forecast-temperature{
    font-size: 18px;
    opacity: 0.6;
  }
  .degrees {
    font-size: 18px;
    opacity: 0.6;
  }
  .codedby {
    text-align: center;
    margin-right:30%;
    font-size: 13px;
  }
  .popular{
    width: 100%;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 0px;
    font-size: 18px;
    text-align: right;
    line-height: 4;
    padding-left: 0;
  }
  #data {
    text-align: left;
    margin: 0px 35px 25px 0px;
    font-size: 18px;
    color: grey;
    line-height: 25px;
    border: rgb(34, 175, 183, 0.8);
    background-color: rgb(34, 175, 183, 0);
    list-style-type: none;
  }
  #celcius {
    display: inline;
  }
  #fahrenheit {
    display: inline;
    margin-left: 0px;
  }
  #codedby {
    margin-left: 5px;
    font-size: 13px;
  }